body {
  margin:0;
  padding:0;
  background-image:url("https://images.pexels.com/photos/2885014/pexels-photo-2885014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position:center;
  background-repeat:no-repeat;
  height:100vh;
  background-size:cover;
  font-family:Impact;
  color:rgb(255, 255, 255);
  z-index:-2
}

.container {
  position:relative;
  cursor: pointer;
  display:block;
  z-index:2;
  padding:20px;
  float:right;
}

.side-bar {
  background:white;
  width:75%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  overflow-y:auto;
  display:none;
  z-index:1;
}

.menu {
  position:absolute;
  top:50%;
  left:50%;
  text-align:center;
  transform:translate(-50%, -50%);
  font-size:25px;
  margin:19px;
}

li {
  list-style:none;
  padding:10px;
}

a {
  text-decoration:none;
  color:rgb(84, 84, 84);
}

a:hover {
  transition:0.4s;
  color:rgb(66, 66, 66);
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color:white;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
  background-color:white;
}

.center-logo {
  text-align:center;
  font-size:75px;
  text-shadow:1px 1px 15px rgb(36, 36, 36);
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
